*{
    font-family: 'Noto Sans', sans-serif;
}
#particles{
    position: fixed ;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
body{
    margin:0px;
    padding: 0px;
    isolation: isolate;
    background-color: #364F6B;
}
.navigation{    
    font-weight:bold; 
    background-color: #3FC1C9;       
    color: #000;
    position: fixed;
    width: 100%;
    height: 80px;
    font-size: 30px;
    line-height: 80px;  
    z-index: 2;  
}
a.home:link {color: #f5f5f5;;}      /* 未访问链接*/
a.home:visited {color:#f5f5f5;}  /* 已访问链接 */
a.home:hover {
    color:#a0a0a0;    
    background-color: #3c5487;
    transition-duration:1s; 
}  /* 鼠标移动到链接上 */
a.home:active {color:#ffffff;}  /* 鼠标点击时 */

a.about-me:link {color:#f5f5f5;}      /* 未访问链接*/
a.about-me:visited {color:#f5f5f5;}  /* 已访问链接 */
a.about-me:hover {
    color:#a0a0a0;    
    background-color: #3c5487;
    transition-duration:1s; 
}  /* 鼠标移动到链接上 */
a.home:active {color:#ffffff;}  /* 鼠标点击时 */
a.blog:link {color:#f5f5f5;}      /* 未访问链接*/
a.blog:visited {color:#f5f5f5;}  /* 已访问链接 */
a.blog:hover {
    color:#a0a0a0;    
    background-color: #3c5487;
    animation-name: slide;
    transition-duration:1s; 
}  /* 鼠标移动到链接上 */
a.blog:active {color:#ffffff;}  /* 鼠标点击时 */
.about{
    position: absolute;    
    top:0%;
    right: 0%;    
    width: 425px;
    height: 80px;  
    
}
.about-me{
    position: absolute;    
    top:0%;
    right: 200px;
    width: 200px;
    height: 80px;    
    display: inline-block; 
    text-align: center; 
}
.blog{
    position: absolute;    
    top:0%;
    right: 0%;
    width: 200px;
    height: 80px;   
    display: inline-block;  
    text-align: center;
}
.home{
    text-align: center;
    color: white;
    position: absolute;
    width: 300px;
    height: 80px;
    left:0%;   
}
.align-middle {      
    width: 100%;   
    height:500px; 
    position: absolute;
    top: 50%;
    transform: translateY(-30%)   ;
    
    text-align: center;
}
.img-inside{
    width: 100%;   
    height:200px;
    text-align: center;
}
a{
    text-decoration: none;
}
a.a-img:link {color:#ffffff;}      /* 未访问链接*/
a.a-img:visited {color:#ffffff;}  /* 已访问链接 */
a.a-img:hover {color:#ffffff;}  /* 鼠标移动到链接上 */
a.a-img:active {color:#ffffff;}  /* 鼠标点击时 */
.a-img{    
    background-color: aquamarine;   
    font-family: 'Noto Sans', sans-serif;  
    display:inline-flex;
    vertical-align: top;
    border-radius: 10px;       
    padding-right:10px;  
    margin: 10px;  
    height: 0px; 
    line-height: 50px;
    font-size: 0px;    
    margin: 5px; 
}
.a-img:hover{
    background-color: mediumaquamarine;
}
.a-img img{    
    width: 40px;
    margin: 5px;   
}
#text_h1{
    font-weight: inherit;
    font-family: inherit;
    text-align: center;
    color: #ababab;
    display: none;
    font-size: 4rem;
}
.text_h1{
    font-weight: inherit;
    font-family: inherit;
    text-align: center;
    color: #ababab;
    font-size: 5rem;
}
.about-me2{
    position: absolute;
    top: 100%;    
    left: 0%;
    width: 100%;
    height: 650px;
}
.in-text{
    font-size: 30px;
    text-align: center;
}
.about-me2 p{
    color: #ababab;
    font-size: 30px;
    text-align: center;
    display: none;
}